# Default ignored files
/shelf/
/workspace.xml
/Bridges с объяснением.py
/include/
/data-6486-2021-02-10.csv
/Population3.py
/pyvenv.cfg
/data-6486-2021-02-10.zip
/include/
/Lib/
/PARKWIFI.py
/Scripts/
/VET_map.html